---
title: Heading Hierarchy - hard coded WAI-ARIA
---

<h1><a href="../heading-hierarchy/">Heading Hierarchy</a> - Articles with aria-level</h1>

<div class="live-example">
  <h1>Main page title</h1>
  <nav>
    <h2 role="header" aria-level="2">Site navigation</h2>
    <ul>
      <li>Home</li>
      <li><a href="⋯">Quality Assurance</a></li>
      <li><a href="⋯">Articles Archive</a></li>
    </ul>
  </nav>
  <section>
    <h2 role="header" aria-level="2">Recent Posts</h2>
    <article>
      <h3 role="header" aria-level="3">HTML5 outline algorithm and headings</h3>
      <p>
        How to fix the bug with JAWS and the HTML5
        outline algorithm.
      </p>
      <aside>
        <h4 role="header" aria-level="4">Publish date</h4>
        <time datetime="2013-05-10T14:59Z">
          Friday, 10th May 2013
        </time>
      </aside>
    </article>
    <article>
      <h3 role="header" aria-level="3">Handling erratic behaviour with AT</h3>
      <p>
        Difficulties testing with erratic AT,
        such as when outline algorithms go bad.
      </p>
      <aside>
        <h4 role="header" aria-level="4">Views</h4>
        <p>This article has been viewed 3.7 times</p>
      </aside>
    </article>
  </section>
</div>