<h1>Pagination</h1>

<p>Option for an accessible pagination module</p>

<div class="pagination-container">

  <p class="visually-hidden" id="pagination">Pagination to navigate between search results pages</p>

  <ol aria-describedby="pagination" role="navigation" class="pagination unstyled-list">
    <li class="pagination__item">
      <a href="">
        Previous
        <span class="visually-hidden">Page</span>
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 1
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 2
      </a>
    </li>

    <li class="pagination__item is-selected">
      <a href="">
        <span class="visually-hidden">Page</span> 3
        <span class="visually-hidden">(current page)</span>
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 4
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 5
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 6
      </a>
    </li>

    <li class="pagination__item is-selected">
      <a href="">
        <span class="visually-hidden">Page</span> 7
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 8
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 9
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        <span class="visually-hidden">Page</span> 10 <span class="pagination__ellipsis">...</span>
      </a>
    </li>

    <li class="pagination__item">
      <a href="">
        Next
        <span class="visually-hidden">Page</span>
      </a>
    </li>
</div>
