---
title: Calculator
---

<h1>Calculator</h1>

<h2>Question</h2>
<p>How should we markup form elements that have an additional inset label?</p>

<h3>Examples</h3>
<p><a href="calculator.html">Inset form labels</a></p>
