fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
legend {
  font-weight:bold;
  color:green;
}


.form__item {
  overflow:hidden;
  margin-bottom:1em;
}
.form__label-heading {
  display:block;
}

.form__inline-group,
.form__inline-group * {
  display:inline-block;
}

.form__hint {
  color:#666;
  margin-top:0;
  margin-bottom:0;
}

.form__extra-info {
  border-left:4px solid blue;
  padding-left:6px;
  display:inline;
}

.form__error-list {
  border: 2px solid red;
  padding:12px;
}

.form__validation-message {
  color:red;
}

/* ---------- STATE ---------- */
.is-form-error {
  border-left:4px solid red;
  padding-left:6px;
}
