.pagination-container {
margin: 48px 0 0 0;
}

.pagination__item {
  display: inline-block;

  a {
    color: #43811E;
    padding: 12px;
    text-decoration: none;
  }

  &.is-selected {
    font-weight: bold;
    a {
      color: #6d6d6d;
    }
  }
}

.pagination__ellipsis {
  letter-spacing: -1px;
  margin-left: 12px;
}
