/* line 1, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.form {
  margin: 0 auto; }

/* line 11, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.fieldset {
  border: none;
  margin: 10px 0;
  padding: 0; }

/* line 17, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.fieldset--col3 {
  margin-left: -10px; }

/* line 21, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.fieldset--col3 .fieldset__col {
  float: left;
  padding-left: 10px;
  width: 33.333333%; }

/* line 27, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 10px 0; }

/* line 34, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select {
  background: #fff;
  border: 2px solid #bbb;
  border-radius: 5px;
  color: #777;
  cursor: pointer;
  font-size: 16px;
  display: block;
  height: 40px;
  line-height: 1;
  padding: 10px 35px 10px 5px;
  position: relative;
  width: 100%;
  -webkit-transition: border .3s, color .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Hides arrow in Firefox (27+), down to 60% */
  text-indent: 5px;
  text-overflow: ""; }

/* line 58, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select:focus,
.select:hover {
  border-color: #69c333;
  color: #000; }

/* Hides dropdown arrow on IE11 */
/* line 64, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select::-ms-expand {
  display: none; }

/* line 69, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select--ex1 {
  background: white url(/images/form-customisation/select-arrow.png) right 50% no-repeat; }

/* line 73, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select--ex2 {
  background: transparent;
  position: relative;
  z-index: 3; }

/* line 79, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select-wrap {
  display: block;
  position: relative; }

/* line 84, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select-wrap:target:after {
  display: none; }

/* line 88, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select-wrap--ex2:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: #bbb transparent transparent transparent;
  display: block;
  margin-top: -3px;
  position: absolute;
  right: 15px;
  top: 50%;
  z-index: 2;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  transition: border .3s; }

/* line 106, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select-wrap--ex2:before {
  content: '';
  background: #fff;
  border: 2px solid #bbb;
  border-radius: 5px;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }

/* line 120, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.select-wrap--ex2:hover:after {
  border-color: #388426  transparent transparent transparent; }

/* Hides the custom arrow dropdown */
/* line 126, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.ie7 .select, .ie8 .select, .ie9 .select {
  background: #fff;
  padding: 10px;
  height: auto;
  line-height: 50px; }

/* Custom checkbox */
/* line 136, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom {
  display: block;
  margin-bottom: 30px; }

/* line 141, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) input[type='checkbox'],
.input-custom:not(#foo) input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute; }

/* line 152, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) .input-custom__label {
  color: #388426;
  cursor: pointer; }

/* line 158, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) .input-custom__copy,
.input-custom:not(#foo) .input-custom__icon {
  vertical-align: middle; }

/* line 162, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) .input-custom__icon {
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px; }

/* line 171, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--checkbox .input-custom__icon {
  border-radius: 5px; }

/* line 174, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--radio .input-custom__icon {
  border-radius: 50%; }

/* line 178, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) .input-custom__icon:before {
  float: right; }

/* line 183, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--l .input-custom__icon,
.input-custom:not(#foo).input-custom--l .input-custom__icon {
  border-width: 3px;
  height: 40px;
  width: 40px; }

/* Checkbox */
/* line 194, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--checkbox .input-custom__icon:after {
  background: url(/images/form-customisation/tick-icon.png) center center no-repeat;
  background-size: 65% 65%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  height: 100%;
  width: 100%; }

/* Radio */
/* line 206, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--radio .input-custom__icon:after {
  background: #388426;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5); }

/* line 221, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) .input-custom__icon:before,
.input-custom:not(#foo) .input-custom__icon:after {
  content: '';
  display: block; }

/* line 227, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--l .input-custom__icon:before,
.input-custom:not(#foo).input-custom--l .input-custom__icon:after {
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  transition: border .3s; }

/* line 234, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).input-custom--l .input-custom__label,
.input-custom:not(#foo).input-custom--l .input-custom__label {
  font-size: 30px;
  font-weight: bold; }

/* line 240, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) input:checked ~ .input-custom__label > .input-custom__icon,
.input-custom:not(#foo) .input-custom__label:hover > .input-custom__icon {
  border-color: #388426;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  transition: border .3s; }

/* line 247, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) input:focus ~ .input-custom__label > .input-custom__icon {
  border-color: #666;
  border-style: dotted; }

/*.input-custom:not(#foo) input:focus ~ .input-custom__label > .input-custom__icon {
  outline: 1px solid blue;
}*/
/* line 256, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo) input:checked ~ .input-custom__label > .input-custom__icon:after {
  visibility: visible; }

/* line 260, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
.input-custom:not(#foo).has-error .input-custom__icon:before {
  border-color: #388426; }

/* line 267, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-customisation/styles.scss */
body {
  background: black !important; }
