---
title: Form markup
---

<h1>Form markup</h1>

<h2>Question</h2>
<p>How should we markup all our form elements?</p>

<p><a href="form-markup.html">Form with no errors</a></p>
<p><a href="form-markup-errors-nojs.html">Form with errors</a></p>

<p>Things to take into account:</p>

<ul>
  <li>Optional fields</li>
  <li>Compulsory fields</li>
  <li>legend for required fields</li>
  <li>Text input fields</li>
  <li>Number input fields</li>
  <li>Email input fields</li>
  <li>Drop down - single</li>
  <li>Drop down - multiple</li>
  <li>Checkboxes</li>
  <li>Radio buttons</li>
  <li>Placeholders</li>
  <li>Hints</li>
  <li>Extra information (tooltip)</li>
  <li>Focus state</li>
</ul>

<p>Questions</p>
<ul>
  <li>Does label always sit above input?</li>
  <li>Hints - do hints always appear below? Are above, right or below as per
    <a href="https://www.gov.uk/service-manual/user-centred-design/resources/forms.html#hints">gov.uk</a></li>
  <li>Sliders - is input always also present, do we use increments</li>
</ul>
