---
title: Form markup
---

<h1>Form markup</h1>

<h2>Question</h2>
<p>How should we markup all our form elements?</p>

<p><a href="form-markup.html">Example markup</a></p>

<p>Things to take into account:</p>

<ul>
  <li>Compulsory fields</li>
  <li>Optional fields</li>
  <li>Text input fields</li>
  <li>Number input fields</li>
  <li>Email input fields</li>
  <li>Drop down - single</li>
  <li>Drop down - multiple</li>
  <li>Checkboxes</li>
  <li>Radio buttons</li>
  <li>Placeholders</li>
  <li>Hints</li>
  <li>Extra information</li>
</ul>

