---
title: Search Results
---

<h1>Search Results</h1>

<p>What is the best way to markup search results?</p>

<ul>
  <li><a href="ordered-list.html">Ordered lists</a></li>
  <li>Unordered list</li>
  <li>Articles</li>
</ul>