---
title: Search Results
---

<h1>Search Results</h1>

<p>What is the best way to markup search results?</p>

<ul>
  <li><a href="ordered-list.html">Ordered list</a></li>
  <li><a href="unordered-list.html">Unordered list</a></li>
  <li><a href="articles.html">Articles</a></li>
</ul>

<p>If using a list is it better to not have headings inside the list items?</p>
<ul>
  <li><a href="ordered-list-no-headings.html">Ordered list no headings</a></li>
</ul>


<p>If article elements with headings do we need to explicitly set the
  aria-level of the heading so that the correct hierarchy is maintained?</p>
<ul>
  <li><a href="articles-aria-level.html">Articles with aria-level</a></li>
</ul>
