<h1>Search Results - unordered list</h1>

<div class="live-example">
  <main>
    <h1>Results for "Money" </h1>
    <ol>
      <li class="search-results__item">
        <h2><a href="url">Let's talk about money</a></h2>
        <p>It’s safe to say that most of us love to chat. But when it comes to
          money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we
          want to get people talking about money.</p>
      </li>
      <li class="search-results__item">
        <h2><a href="url">Money chat</a></h2>
        <p>Is the money taboo preventing you from making the most of your money?
          Become part of our campaign, and start
          your conversation today.</p>
      </li>
    </ol>
  </main>
</div>