/* line 1, /Users/alistairduggin/moneyadviceservice/frontend-sandbox/source/stylesheets/colour-contrast/styles.scss */
.colours {
  margin: 20px; }

/* line 5, /Users/alistairduggin/moneyadviceservice/frontend-sandbox/source/stylesheets/colour-contrast/styles.scss */
.colours__item {
  padding: 4px;
  margin-bottom: 1px; }
