---
title: Heading Hierarchy
---

<h1>Heading Hierarchy</h1>

<h2>Questions</h2>

<p>Jaw 12, 13 and 4 incorrectly report the heading level of headings inside HTML5 
  elements such as section, article, nav and aside in IE and Firefox</p>

<ul>
  <li><a href="http://accessibleculture.org/articles/2011/10/jaws-ie-and-headings-in-html5/">JAWS, IE and Headings in HTML5</a></li>
  <li><a href="http://juicystudio.com/article/html5-outline-algorithm-jaws.php">The HTML5 outline algorithm and JAWS</a></li>
</ul>

<p>Example:</p>
<ul>
  <li><a href="no-aria.html">Hierarchical heading structure - no WAI-ARIA</a></li>
</ul>

<p>Is the fix for this to add WAI-ARIA? Is it OK to add the WAI-ARIA with javascript?</p>
<ul>
  <li><a href="aria-hard-coded.html">Hierarchical heading structure - hard coded WAI-ARIA</li>
  <li><a href="aria-added-with-js.html">Hierarchical heading structure - WAI-ARIA added with Javascript</a></li>
</ul>

<h2>Outcome</h2>




