---
title: Form errors
---

<h1>Form errors - Javascript validation</h1>

<h2>Question</h2>
<p>We'd like feedback on the Javascript validation that's triggered as you tab out of each input</p>
<ul>
  <li>when an input is exited eg. tabbed away from, is a screenreader automatically notified of the error message that's shown?</li>
  <li>if an invalid input is entered in the salary field eg. some letters, is the user asked to enter a currency value</li>
</ul>

<p><a href="form-errors-combined-javascript.html">Sample markup</a></p>

<h3>Outcome</h3>
TBC..
