---
title: Form markup
---

<h1>Form markup</h1>

<h2>Question</h2>
<p>How should we markup form elements that have an additional inset label?</p>

<h3>Examples</h3>
<p><a href="form-inset-label.html">Inset form labels</a></p>
