---
title: Form markup
---

<h1>Form markup</h1>

<h2>Question</h2>
<p>How should we markup form elements that have an additional inset label?</p>

<h3>Examples</h3>
<p><a href="form-inset-label.html">Inset form labels</a></p>

<h3>Outcome</h3>
<p>Approved by Deborah Roberts and Jaime, 23/5/14</p>
<p>Feedback:</p>

<blockquote>
  <p>
    We have completed testing for you in the Forms that you sent over yesterday.
  </p>
  <p>
    I have included exactly how the results are read out by each screen reader.
  </p>
</blockquote>

<h4>Results</h4>

<p>
  <b>Recommendation:</b> The preferred options would be 3rd 4th or 5th.
</p>

<h5>JAWS 12 IE11,  JAWS 14 IE10</h5>

<ul>
<li>1st  form field -  council tax edit and not the £</li>
<li>2nd  form field -  council tax edit and not the £</li>
<li>3rd form field - council tax £ edit</li>
<li>4th form field -  Loan QPR% edit</li>
<li>5th form field - council tax pounds edit</li>
</ul>

<h5>JAWS 13 Chrome</h5>
<p>
  Same results as above
</p>

<h5>NVDA IE14</h5>
<ul>
<li>1st form field - council tax edit blank</li>
<li>2nd form field - council tax £ edit blank (using tab key), council tax edit blank (using arrows)</li>
<li>3rd  form field - council tax £ edit blank</li>
<li>4th form field - Loan APR edit blank %</li>
<li>5th form field - council tax £ edit blank</li>
</ul>

<h5>NVDA Firefox</h5>
<ul>
  <li>1st form field - council tax edit blank</li>
  <li>2nd form field - council tax £ edit blank (using tab key), council tax edit blank (using arrows)</li>
  <li>3rd  form field - council tax £ edit blank</li>
  <li>4th form field - Loan APR edit blank %</li>
  <li>5th form field - council tax £ edit blank</li>
</ul>

<h5>Appendix:</h5>
<p>
  There are issues with some symbols however the ones provided are reading out as expected and Jaime (our screen reader user) felt that the labels were unnecessary as a result.
</p>
