<div class="live-example">
<form action="">
  <h1>Tell your story</h1>
  <p>
    I was/will be made redundant on
    <select aria-label="Month you were/will be made redundant from your job">
      <option value="">January</option>
      <option value="">February</option>
      <option value="">March</option>
      <option value="">April</option>
      <option value="">May</option>
      <option value="">June</option>
      <option value="">July</option>
      <option value="">August</option>
      <option value="">September</option>
      <option value="">October</option>
      <option value="">November</option>
      <option value="">December</option>
    </select>
    <select aria-label="Year you were/will be made redundant from your job">
      <option value="">2013</option>
      <option value="">2014</option>
      <option value="">2015</option>
      <option value="">2016</option>
    </select>
  </p>
</form>
</div>