---
title: Form sentences - Form elements inside a paragraph using wai-aria
---

<h1><a href="../form-sentences/">Form sentences</a> - Form elements inside a paragraph using wai-aria</h1>

<div class="live-example">
<form action="">
  <h1>Tell your story</h1>
  <p>
    <label for="redundancy_date" id="redundancy_label">
      I was/will be made redundant on
      <select id="redundancy_date" aria-labelledby="redundancy_label">
        <option value="">January</option>
        <option value="">February</option>
        <option value="">March</option>
        <option value="">April</option>
        <option value="">May</option>
        <option value="">June</option>
        <option value="">July</option>
        <option value="">August</option>
        <option value="">September</option>
        <option value="">October</option>
        <option value="">November</option>
        <option value="">December</option>
      </select>
      <select aria-labelledby="redundancy_label">
        <option value="">2013</option>
        <option value="">2014</option>
        <option value="">2015</option>
        <option value="">2016</option>
      </select>
    </label>
  </p>
</form>
</div>