---
title: Form sentences
---

<h1>Form sentences</h1>

<h2>Questions</h2>

<p>We're trying to make collecting data more engaging and usable by placing the inputs in sentences.</p>
<ul>
  <li><a href="../images/form-sentences/1_1_A.jpg">Page 1</a></li>
  <li><a href="../images/form-sentences/1_2_A.jpg">Page 2</a></li>
</ul>

<p>What is the best way to mark this up?</p>
<ul>
  <li><a href="basic-sentence.html">Form elements inside a paragraph</a></li>
  <li><a href="form-label.html">Form elements inside fieldset and legend</li>
  <li><a href="label-with-aria.html">Form elements inside paragraph with labels and aria-labelledby</li>
  <li><a href="aria-label.html">Form elements inside a paragraph using WAI-ARIA</a></li>
</ul>

<h2>Outcome</h2>
