---
title: Form sentences - Form elements with hidden labels inside &lt;li&gt; rows
---

<h1><a href="../form-sentences/">Form sentences</a> - Form elements with hidden labels inside &lt;li&gt; rows</h1>

<div class="live-example">
<form action="">
  <h1>Tell your story</h1>
    <ol>
      <li class="row">
        <div class="form-group">
          <label for="redundancy_date">
            I was/will be made redundant on
            <span class="visually-hidden" id="label-month">Month</span>
            <select id="redundancy_date" aria-labelledby="label-month" aria-required="true">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </label>
          <label for="redundancy_year">
            <span class="visually-hidden" id="label-year">Year</span>
            <select id="redundancy_year" aria-labelledby="label-year" aria-required="true">
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
            </select>
          </label>
        </div>

      </li>

      <li class="row">
        <div class="form-group">
          <label for="redundancy_no">
            The company made 
            <select id="redundancy_no" aria-required="true">
              <option value="">10+</option>
              <option value="" selected>100+</option>
              <option value="">200+</option>
              <option value="">300+</option>
            </select>
            people redundant
          </label>
        </div>
      </li>

      <li class="row">
        <div class="form-group">
          <label for="redundancy_package">
            I
            <select id="redundancy_package" aria-required="true">
              <option value="">do know</option>
              <option value="" selected>don't know</option>
            </select>
             what my redundancy package will be
          </label>
        </div>
      </li>

    </ol>

    <input type="submit">
</form>
</div>