---
title: Custom Fonts
---

<% content_for :head do %>
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = '/stylesheets/custom-fonts/font.css';
    function showText() {
      document.documentElement.classList.add('show-text');
    }
    link.onerror = link.onload = showText;
    setTimeout(showText, 250);
    document.head.appendChild(link);
  </script>
<% end %>

<h1><a href="../custom-fonts/">Custom Fonts</a></h1>
<p>This exmaple creates the link element with javascript</p>

