---
title: Custom Fonts
---

<% content_for :head do %>
  <link rel="stylesheet" href="../stylesheets/custom-fonts/fonts.css"/>
<% end %>

<h1><a href="../custom-fonts/">Custom Fonts</a> - Link Element</h1>

<p>This example has the font.css in the head of the document</p>
