/* line 2, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
label {
  display: block; }

/* line 6, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
.form__input:not(.form__input--unstyled), .form__input-wrap {
  border: 3px solid #666;
  line-height: 20px;
  padding: 2px; }

/* line 14, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
.form__input:not(.form__input--unstyled).form__input--with-symbol-label {
  padding-left: 20px; }
  /* line 17, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
  .form__input:not(.form__input--unstyled).form__input--with-symbol-label.form__input--with-symbol-label--after {
    padding-left: inherit;
    padding-right: 20px; }

/* line 24, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
.form__input-label {
  display: inline-block;
  line-height: 28px;
  padding: 0 5px;
  text-align: center; }
  /* line 30, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
  .form__input-label.form__input-label--inset {
    position: absolute;
    z-index: 2; }
    /* line 34, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
    .form__input-label.form__input-label--inset.form__input-label--inset--after {
      position: absolute;
      margin-left: -30px; }

/* line 41, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
.form__input-wrap {
  padding-right: 6px; }
  /* line 45, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
  .form__input-wrap .form__input {
    background: none; }
  /* line 49, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
  .form__input-wrap * {
    vertical-align: middle; }

/* line 54, /Users/jperry/Documents/mas/frontend-sandbox/source/stylesheets/form-inset-label/styles.scss */
.form__input--unstyled {
  border: none; }
