---
title: Custom checkbox
---
<% content_for :assets do %>
  <%= stylesheet_link_tag 'form-customisation/styles' %>
<% end %>

<form class="form" action="">
  <h1>Custom checkbox</h1>

  <h2>Example 1</h2>
  <p>
    Hides the browser native checkbox and displays a custom checkbox.
    Makes use of the general sibling <code>~</code> and the CSS3 <code>:checked</code> selectors to toggle the checkbox without JavaScript.
  </p>

  <fieldset class="fieldset">
    <span class="input-custom input-custom--checkbox">
      <input aria-checked="false" name="something1" id="something1" type="checkbox" value="1">
      <label class="input-custom__label" for="something1">
        <span class="input-custom__copy">
          I have read this
        </span>
        <span class="input-custom__icon"></span>
      </label>
    </span>

    <span class="input-custom input-custom--checkbox">
      <input aria-checked="false" name="something2" id="something2" type="checkbox" value="1">
      <label class="input-custom__label" for="something2">
        <span class="input-custom__icon"></span>
        <span class="input-custom__copy">
          I have read this
        </span>
      </label>
    </span>

    <span class="input-custom input-custom--checkbox input-custom--l">
      <input aria-checked="false" name="something3" id="something3" type="checkbox" value="1">
      <label class="input-custom__label" for="something3">
        <span class="input-custom__icon"></span>
        <span class="input-custom__copy">
          I have read this
        </span>
      </label>
    </span>
  </fieldset>

  <h3>Support</h3>

  <p>Supported in all CSS3-capable browsers. Displays a standard checkbox component in non-supporting browsers.</p>

  <ul>
    <li>Chrome</li>
    <li>Chrome Android</li>
    <li>Safari</li>
    <li>Mobile Safari</li>
    <li>Opera</li>
    <li>Firefox</li>
    <li>IE9/10/11</li>
  </ul>

  <h3>Accessibility</h3>
  <p>
    It provides the same accessibility as a standard component.
  </p>
</form>
