---
title: Custom select boxes
---

<h1>Custom select boxes</h1>

<p>Here we're exploring different formatting for select boxes.</p>
<ul>
  <li><a href="example1.html">Example 1</a></li>
  <li><a href="example2.html">Example 2</a></li>
</ul>
