---
title: Custom form elements
---

<h1>Custom select boxes</h1>

<p>Here we're exploring different custom select boxes.</p>
<ul>
  <li><a href="select-example1.html">Example 1 (non-JS)</a></li>
  <li><a href="select-example2.html">Example 2 (non-JS)</a></li>
  <li><i><a>Example 3 (JS)</a></i></li>
</ul>

<h1>Custom checkboxes</h1>

<p>Here we're exploring different custom check boxes.</p>
<ul>
  <li><a href="radio-example1.html">Example 1 (non-JS)</a></li>
</ul>
