@import "all";

.tabs {
  @extend %clearfix;
}
  .tabs__nav {

    float: left;

    .is-active {
      a  {
        font-weight: bold;
      }
    }
  }

  .tabs__item {
    display: none;
    padding-left: 30%;

    .no-js &, &.is-active {
      display: block;
    }

  }
