---
title: Welcome to Middleman
---

<h1>Accessibility Sandbox</h1>
<p>
  Welcome to a sandbox for trying out accessible solutions that DAC can test for us.
</p>

<ul class="unstyled-list">
  <li><a href="search-results/">Search Results</a></li>
  <li><a href="form-markup/">Form markup</a></li>
  <li><a href="form-sentences/">Form sentences</a></li>
  <li><a href="form-errors/">Form errors</a></li>
  <li><a href="form-errors-combined/">Form errors - one message for a group of inputs</a></li>
  <li><a href="form-errors-javascript/">Form errors - with Javascript validation</a></li>
  <li><a href="heading-hierarchy/">Heading Hierachy</a></li>
  <li><a href="icons/">Icons</a></li>
  <li><a href="custom-fonts/">Custom Fonts</a></li>
  <li><a href="pagination/">Pagination</a></li>
</ul>
