---
title: Welcome to Middleman
---

<h1>Accessibility Sandbox</h1>
<p>
  Welcome to a sandbox for trying out accessible solutions that DAC can test for us.
</p>

<ul>
  <li><a href="search-results/">Search Results</a></li>
  <li>Pagination</li>
  <li>Sentence Forms</li>
</ul>
