---
title: Form errors
---

<h1>Form errors</h1>

<h2>Questions</h2>

<p></p>
<ul>
  <li><a href="../images/form-sentences/1_1_A.jpg">Page 1</a></li>
  <li><a href="../images/form-sentences/1_2_A.jpg">Page 2</a></li>
</ul>

<p>What is the best way to mark this up?</p>
<ul>
  <li><a href="form-errors.html">Form errors</a></li>
</ul>

<h2>Outcome</h2>
