---
title: Form errors
---

<h1>Form errors</h1>

<h2>Question</h2>

<p>We are looking at the best way to alert users to errors in a <strong>related group of inputs eg. 3 select boxes for Date of Birth</strong>, where a single error message is used for the group, rather than individual messages for each select box.</p>

<p><a href="form-errors-combined-message.html">Sample markup</a></p>

<h2>Outcome</h2>
