---
title: Form errors
---

<h1>Form errors</h1>

<h2>Questions</h2>

<p>We are looking at the best way to alert users to errors in a form.</p>

<p>What is the best way to mark this up?</p>
<ul>
  <li><a href="form-errors.html">Method 1 - Form with error messages immediately following the invalid input</a></li>
  <li><a href="form-errors-list.html">Method 2 - Form with error messages listed above the form with links to each invalid input</a></li>
</ul>

<h2>Outcome</h2>
