---
title: Form errors
---

<h1>Form errors - one message for a group of inputs</h1>

<h2>Question</h2>
<p>We want to alert users to errors in a <strong>related group of inputs</strong> eg. 3 select boxes for Date of Birth, where a <strong>single error message</strong> is used for the group, rather than individual messages for each select box.</p>

<p><a href="form-errors-combined-message.html">Sample markup</a></p>

<h3>Outcome</h3>
TBC...
