---
title: Tabs
---

<h1>Tabs</h1>

<h2>Question</h2>

<p>We want to be able to create accessible tabs with full keyboard navigation support.</p>

<p><a href="tabs-standard.html">Standard tabs</a></p>
<p><a href="tabs-roving.html">Standard tabs (with roving tab index)</a></p>

<h3>Outcome</h3>

<h4>Tabs standard</h4>
<blockquote>
  <p>
     There were very few issues, the main one being where focus is placed after navigating through the page; focus takes the user to the address bar and not the main heading as expected.  Users would have to tab through the page again to restart navigating the tab buttons.
  </p>
  <p>
    If the reading order of the page continues logically after the content panel then there will be no need for any adjustments to be made. <i>[This has since been implemented and thus resolves any outstanding issues - Justin Perry 02/06/2014]</i>
  </p>
  <p>
    From Deborah Roberts <a href="documents/Accessible_tab_panels_Quick_Review.pdf">Full report</a>
  </p>
</blockquote>
