---
title: Tabs
---

<h1>Tabs</h1>

<h2>Question</h2>

<p>We want to be able to create an accessible tabs with full keyboard navigation support.</p>

<p><a href="tabs-standard.html">Standard tabs</a></p>
<p><a href="tabs-roving.html">Standard tabs (with roving tab index)</a></p>

<h3>Outcome</h3>
