---
title: Tabs
---

<% content_for :assets do %>
  <%= stylesheet_link_tag 'tabs/styles' %>
<% end %>

<h1><a href="index.html">Tabs Index</a></h1>

<hr>

<div class="live-example">

  <div class="js-component component" role="tablist" aria-expanded="true">
    <div class="component__label is-active" id="title-household" role="tab" aria-selected="true" tabindex="0">
      Enter individual <span class="visually-hidden">household</span> costs
    </div>
    <div class="component__content is-active" role="tabpanel" aria-hidden="false" aria-labelledby="title-household" tabindex="0">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, vitae, laboriosam beatae earum sapiente quibusdam eaque sit amet corporis excepturi nihil dolorem at atque ratione maiores ex autem vero optio?</p>
      <form action="">
        <div>
          <label for="text1">Label</label>
          <input type="text" name="" id="text1">
        </div>
        <div>
          <label for="text2">Label</label>
          <input type="text" name="" id="text2">
        </div>
        <div>
          <label for="text3">Label</label>
          <input type="text" name="" id="text3">
        </div>
        <div>
          <label for="text4">Label</label>
          <input type="text" name="" id="text4">
        </div>
      </form>
    </div>

    <div class="component__label is-inactive" id="title-grocery" role="tab" tabindex="0" aria-selected="false">
      Enter individual <span class="visually-hidden">grocery</span> costs
    </div>
    <div class="component__content is-inactive" role="tabpanel" aria-hidden="true" aria-labelledby="title-grocery" tabindex="-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, vitae, laboriosam beatae earum sapiente quibusdam eaque sit amet corporis excepturi nihil dolorem at atque ratione maiores ex autem vero optio?</p>
    </div>

    <div class="component__label is-inactive" id="title-childcare" role="tab" tabindex="0" aria-selected="false">
      Enter individual <span class="visually-hidden">childcare</span> costs
    </div>
    <div class="component__content is-inactive" role="tabpanel" aria-hidden="true" aria-labelledby="title-childcare" tabindex="-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, vitae, laboriosam beatae earum sapiente quibusdam eaque sit amet corporis excepturi nihil dolorem at atque ratione maiores ex autem vero optio?</p>
    </div>
  </div>

</div>
